<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập mạng để gọi API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Quyền đọc bộ nhớ cho Android 12 trở xuống -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Quyền đọc file ảnh cho Android 13 trở lên -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Quyền ghi bộ nhớ cho các phiên bản cũ (để lưu ảnh) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AI4Life"
        tools:targetApi="31">

        <!-- Khai báo các Activity của bạn -->
        <activity
            android:name=".CreateAnimeActivity"
            android:exported="false" />
        <activity
            android:name=".RemoveBackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".CreateImgActivity"
            android:exported="false" />
        <activity
            android:name=".ResultRemoveBG"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>